html{
  font-size:20px;
  background-color: rgba(2, 53, 87, 0.9);
  overflow-x: hidden;
  --top-spacing: 180px;
  scroll-padding-top: var(--top-spacing);
}

body {
  margin: var(--top-spacing) auto;
  font-family: "Roboto";
  color:white;
}

.header{
  text-align:center;
  font-family: "Roboto+Serif";
  text-decoration: underline;
}

.no-data{
  color:black;
}